ERC20/node_modules
ERC20/.env
ERC20/deployments
ERC20/artifacts
ERC20/cache




node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

